/home/speech/voicefile/input/591_fujian_wf_5000_wf_04/25033942_1711529.V3
1	您好请讲
2	那个三七我问你那个二十块钱话费都要多少积分兑换
1	二十我查一下噢
2	嗯啊我拜拜
1	这边的话二十块钱没有这个档次了有看到十块的是八百四十那就是另外两个十块八
2	二百四啊
1	呃
2	二百十八块四七二的话是一千两百八
1	嗯对
2	行行我知道谢谢了啊不客气
1	要不要把这个方式给您发过去
2	我知道怎么兑啊

/home/speech/voicefile/input/591_fujian_wf_5000_wf_04/25033848_0807316.V3
1	是有问题可以来电咨询高兴为您服务
2	喂你好我问一下就是我昨天晚上充了流量对不对因为流量不够了对不对那为什么为什么别人的手机都有都有都有网为什么就没网络了我的信号也是满格的也是显示四g网络都没有
1	您是说四g上网上不了是吧稍等
2	啊对呀
1	手机没有关系来记一下
2	开关机开机过了已经嗯嗯
1	我看一下您网络状态这边暂时没有什么异常如果您是上不了我帮您把您的四g功能帮您做个刷新您稍后呢过一分钟左右呢把您的手机关机再开机试一下看看行不行
2	噢那它它这个月它这个它这个省内流量跟省外是跟全国流量是一样的吧
1	省内流量只能在福建省内十月如果你没有在福建省那就用不了了我在福建省可是它就是因为这两个月在福建省就可以使用
2	噢好的噢
1	那已经帮您申请稍后您把手机重启一下这样子不行好的
2	谢谢

/home/speech/voicefile/input/591_fujian_wf_5000_wf_04/25033935_1706458.V3
1	您好请说
2	诶你好就是我们这个卡使用了包月是三十几的套餐呐
1	您这卡是三十八的
2	哦那一个月流量是有多少啊
1	五百兆
2	一百兆是吧就说昨天在哪个省都是都可以用的这个五百兆对吧
1	啊对全国都可以用
2	呃那个如果那我可不可以这个套餐再打开再升一点啊
1	可以啊
2	但是我人在外地
1	在外省也可以用的
2	那你帮我升那个五十八的有多少流量啊
1	五十八的才五百兆八十八七百兆幺三八一个g
2	这个三十八的也是五百兆了我是不能也是五百兆啊
1	对五十八的它有一百分钟可以在外面用您这款一百分钟就只能在本地打就这个区别
2	我我主要是想要流量
1	那就要改八十八幺三八这些了
2	啊那就算了啊谢谢啊
1	不客气还有什么帮您
2	嗯没有没有了

/home/speech/voicefile/input/591_fujian_wf_5000_wf_04/25033831_0816027.V3
1	您好请说
2	现在我这个话费昨天不是说没有欠费吗今天怎么一下欠二十一块钱啊
1	稍等一下我这边给您查询一下帮您查询了一下您这张卡是有欠费
2	这边套餐的费用都是月初一次性扣的噢月初一次性扣呃对对其他的您自己就是宽带的钱停的套餐
1	天按天收
2	按天算怎么一下子我昨天晚上没听清楚他说
1	哎
2	余额肯定要你们也没事我不知道怎么一下子停机给您查了一下因为您这边之前可能是属于一个有银行代扣一样的
1	它这个可能就说没有没有及时出账
2	您看一下绑定的银行卡上面有没有费用
1	因为之前这里的话绑定代扣说买没有马上给您进行操作停机
2	什么银行有代扣我已经不是取消这个业务了吗
1	目前我们这里账单上面提示您的出账类型还是有绑定代扣关系
2	哎我银行代扣是哪张卡我不管
1	银行代扣我给您看一下能不能查到您稍等一下
2	不是因为这张卡是我老公帮我那个登陆跟那个那个我不是说取消了吗
1	目前这边给您查询了一下是农业银行代扣
2	农业银行是四六零幺九尾数吗这个尾数我们就看不到了您银行信息我们肯定查不到有以前是有这张然后是有一百那应该是然后那张银行卡我不用啦那您要去取消一下那个银行代扣的功能要不然它这个因为有银行代扣的关系所以它这个余额上面的话可能就说没有那么
1	办法及时的显示出来
2	那没事反正那张银行卡也没用了我也不敢还是噢行那
1	行噢那您就自己稍后充值费用上去就行了
2	恩还有什么其他可以帮您的没有谢谢
